:root {
    --bgColor: #F1EFEF;
    --bgNavColor: #A0BFE0;
    --bgNavAColor: #7895CB;
    --bgNavAHoverColor: #1b4084;
    --bgActivePage: #86a6e3;
    --bgDivTools: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bgColor);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgNavColor);
}

header nav ul {
    display: flex;
    list-style-type: none;
    padding: 3ch;
}

header nav ul li {
    margin: 0 1ch 0;
}

#activePage {
    background-color: var(--bgActivePage);
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: larger;
    padding: 1ch;
    background: var(--bgNavAColor);
    border-radius: 1ch;
    border: 2px solid transparent;
}

header nav ul li a:hover {
    border-color: var(--bgNavAHoverColor);
}

/* Ai Tools Page */

#pageIntro {
   margin: 2ch;
}

.tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1ch;
    padding: 2ch;
}

.tools div {
    background-color: var(--bgDivTools);
    padding: 2ch;
    border: 2px solid transparent;
}

.tools div:hover {
    border-color: var(--bgNavColor);
    box-shadow: 10px 10px 50px var(--bgNavColor);
}

/* history page */


/* end pqge */

/* smaller screen agustment */
@media (max-width: 650px) {

    /* header all pages */
    header nav {
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        gap: 1ch;
    }

    /* Ai Tools pagina */
    .tools {
        grid-template-columns: 1fr;
    }
}